/* common */
h1 {
    color: white;
}

h3 {
    color: #021C4E;
}

h4 {
    color: #5C6A88;
}

p {
    font-size: 13px;
    color: #5C6A88;
}

a {
    color: #006AFF;
}

.ms_wrapper_90 {
    width: 90%;
    margin: 0 auto;
}
/* body */
body {
    font-weight: 500;
}

/* chat-bot */
.bot {
    position: fixed;
    z-index: 3;
    right: 2%;
    bottom: 3%;
    border-radius: 10%;
    padding: 40px 50px;
    background-image: url(../img/shark.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #006AFF;
}

.bot .badge {
    position: absolute;
    right: -7%;
    top: -15%;
    padding: 5px 10px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: red;
}

.chat {
    position: fixed;
    width: 250px;
    height: 80px;
    z-index: 3;
    right: 10%;
    bottom: 3%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px #33465B;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F4F9FE;
}

/* header */
/* navbar */
.ms_navbar {
    border-radius: unset;
    background-color: #FFFFFF;
}
.ms_navbar.navbar-default .navbar-nav>li>a {
    font-weight:500;
    color: #3B4D74;
}

.ms_navbar .glyphicon {
    top:2px;
    font-weight: 600;
}

/* logo */
.ms_navbar .navbar-brand>img {
    width: 150px;
    vertical-align: middle;
}

.ms_navbar .navbar-brand {
    margin-right: 50px;
    padding: 10px 15px;
}

/* burger_icon */
.ms_navbar.navbar-default .navbar-toggle {
    border-color: transparent;
}

.ms_navbar.navbar-default .navbar-toggle .icon-bar {
    width: 16px;
    margin: 3px;
    background-color: #5397FE;
}

/* hover */
.ms_navbar .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover ,
.ms_navbar.navbar-default .navbar-nav>li>a.btn:hover
 {
    background-color: #006AFF;
    color: white;
}

.ms_navbar.navbar-default .navbar-nav>li>a:hover {
    color: #006AFF;
}

.ms_navbar.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #006AFF;
}

.ms_navbar.navbar-default .navbar-nav>.open>a {
    border: 2px solid #006AFF;
    padding: 14px 13px;
    line-height: 18px;
    background-color: transparent;
}
/* animation_burger_icon */
.ms_navbar.navbar-default .navbar-toggle:hover .icon-bar:nth-of-type(2) {
    transition: 0.4s;
    transform: translateY(3px)rotate(45deg)
}
.ms_navbar.navbar-default .navbar-toggle:hover .icon-bar:nth-of-type(3) {
    display: none;
}
.ms_navbar.navbar-default .navbar-toggle:hover .icon-bar:nth-of-type(4) {
    transition: 0.4s;
    transform: translateY(-2px)rotate(-45deg)
}

/* button */
.ms_navbar .btn {
    border: 1px solid #006AFF;
    padding: 5px;
    margin-top: 10px;
}

.ms_navbar.navbar-default .navbar-nav>li>a.btn {
    color: #006AFF;
}

/* jumbotron */
.ms_jumbotron {
    padding: 104px 0 60px 0;
    background-image: url(../img/bg-banner-home.jpg);
    background-size: cover;
    background-position: 65% 110%;
}
.ms_jumbotron_text h3 {
    color: #BACCFF;
}
/* jumbotron_form */
.ms_jumbotron_form h3 {
    margin: 10px 0;
    color: #006AFF;
}

.ms_jumbotron_form {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.ms_jumbotron_form .btn {
    width: 100%;
    margin: 5px 0;
    font-weight: 500;
}

.ms_jumbotron_form .btn-primary {
    background-color: #5799FF;
}

.ms_jumbotron_form
.btn-primary:hover {
    background-color: #006AFF;
}

.ms_jumbotron_form .btn-default {
    position: relative;
}

.ms_jumbotron_form .btn-default img {
    position: absolute;
    left: 5px;
}

.ms_jumbotron_form img {
    width: 20px;
}

.ms_jumbotron_form a {
    text-decoration: underline;
}

/* partners */
.ms_partners {
    padding:30px 0 30px 0;
    text-align: center;
    background-color: #F3F5FA;
}

.ms_partners img {
    height: 60px;
}

/* service */
.ms_service {
    padding:30px 0 30px 0;
    text-align: center;   
}

.ms_service #grey {
    color: #5C6A88;
}

.ms_service h4 {
    color: #021C4E;
}

.ms_service ul {
    list-style: none;
    border-left: 1px solid #CCCCCC;
    padding-left: 5px;
}

.ms_service ul li {
    color: #838DA5;
}

.ms_service p {
    padding-bottom: 15px;
}

.ms_service [class*=col-] {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* carousel */
.ms_carousel {
    padding:30px 0 30px 0;
    text-align: center;
    background-color: #F3F5FA;
}

.ms_carousel img {
    margin: 60px 0 20px 0;
    width: 60%;
}

.ms_carousel figcaption {
    color: #021C4E;
}

/* chevron */
.ms_carousel .fa-chevron-right {

    padding-left: 30px;
    color: #021C4E;
}

.ms_carousel .fa-chevron-left {
    padding-right: 30px;
    color: #6E7B98;
}

.ms_carousel .fa-chevron-right,
.ms_carousel .fa-chevron-left {
    font-size: 40px;
}
 /* circle */
.ms_carousel .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #006AFF;
}

.ms_carousel .circle:nth-of-type(2),
.ms_carousel .circle:nth-of-type(3) {
    border: 1px solid #006AFF;
    background-color: transparent;
}

/* test speed */
.ms_gradient {
    padding:30px 0 40px 0;
    background: rgb(0,32,155);
    background: linear-gradient(0deg, rgba(0,32,155,1) 0%, rgba(1,49,174,1) 54%, rgba(68,105,179,1) 100%);
}

.ms_gradient h3,
.ms_gradient span {
    color: white;
}

.ms_gradient h4,
.ms_gradient p {
    color: #A8BAE4;
}

.underline {
    line-height: 10px;
    padding-left: 10px;
    margin-top: 15px;
    border-bottom: 1px solid white;
}

.underline:last-of-type {
    border: 0;
}

/* carousel down */
.ms_carousel .down {
    display: inline-block;
    width: 50%;
    margin: 50px 0 0 0;
    padding:80px 0px 80px 0px;
    background-color: #FFFFFF;
}

.ms_carousel .down img {
    width: 40%;
    padding: 0px 0 20px 0;
    margin: 0;
}

/* account */
.ms_account {
    text-align: center;
}

.ms_account .btn-primary {
    font-weight: 500;
    color: #006AFF;
    background-color: white;
} 

.ms_account .btn-primary:hover {
    color: white;
    background-color: #006AFF;
}

/* footer */
.ms_footer {
    padding-top:30px;
    padding-bottom: 30px;
    background-color: #021C4E;
}

.ms_footer img {
    margin-bottom: 10px;
}

.ms_footer .list-inline a {
    color: #5C6A88;
}

.ms_footer .list-inline li {
    padding: 0 3px;
}

.ms_footer ul {
    list-style: none;
    padding: 0;
}

.ms_footer h4 {
    color: white;
}

.ms_footer p {
    color: #8A94AA;
}

/* mediaquires */
@media screen and (max-width: 768px) {
    .ms_carousel .fa-chevron-right {
        display: none;
    }
    
    .ms_carousel .fa-chevron-left {
        display: none;
    }

    #ms_test_speed a {
        font-size: 10px;
    }

    .ms_carousel .down img {
        width: 100%;
        padding: 0px 0 20px 0;
        margin: 0;
    }

    h1 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {
    p {
        font-size: 1.2em;
    }
    h1 {
        font-size: 4.5em;
    }
}
